.site-header {

    &-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // max-width: 1240px;
        margin: 23px 130px 22px 222px;
        @include sm {
            display: flex;
            justify-content: space-between;
            margin: 10px;
        }
        

        .primary-navigation {
            display: flex;
            align-items: center;
            
            &-link {
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
            }

            li {
                margin-right: 10px;
            }

            @include sm {
                display: none;
            }
        }
        
    }

    
}
.site-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 29px;
    font-weight: bold;
    letter-spacing: 0;
}
.navi-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-icon {
        width: 20px;
        height: 20px;
        margin-left: 30px;
    }
    &.in-footer {
        
        justify-content: flex-start;
        .navi-icons-icon {
            margin-left:0;
            margin-right: 30px;
        }
    }
}
