.category-gallery {
    max-width: 1150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 18px;
    margin: 120px auto;
    position: relative;

    .img-wrapper-first {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .img-wrapper-second {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .secondary-button {
        position: absolute;
        bottom: 20px;
        right: 348px;
         @include sm {
             right: 20px;
             padding: 5px 10px;
             font-size: 12px;
         }
    }

}

.category-gallery--displaced {
    max-width: 1150px;
    display: grid;
    grid-template-rows: 64px 300px 85px 215px;
    grid-template-columns: 560px 350px 190px 50px;

    @include xl {
        grid-template-rows: 40px 230px 85px 215px;
        grid-template-columns: 510px 270px 190px 50px;
    }
    @include lg {
        grid-template-rows: 40px 200px 70px 215px;
        grid-template-columns: 470px 230px 170px 50px;
    }
    

    .img-wrapper-first {
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        padding-right: 25px;
    }
    .img-wrapper-second {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .img-wrapper-third {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 5;
        padding: 20px 0 0 20px;
        background-color: white;
    }

    img {
        height: 100%;
    }

    .link-wrapper {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
        justify-self: end;
        padding: 150px 0 ;
        text-decoration: underline;
        font-size: 15px;
    }

    @include md {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: unset;
        position: relative;
        .link-wrapper {
            position: absolute;
            bottom: -40px;
            left: 20px;
            
        }
        .link-wrapper,
        .img-wrapper {
            &-first,
            &-second, 
            &-third {
                grid-row-start: unset;
                grid-row-end: unset;
                grid-column-start: unset;
                grid-column-end: unset;
                margin: 0;
                padding: 0;
                
            }
           
        }
        
    }

}