.title-section {
    width: 100%;
    height: 745px;
    // height: ;
    

    &.first {
        background-image: url('../assets/images/header-img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 60%;
        padding-top: 30%;
    }
    &.second {
        width: 100%;
        padding-left: 15%;
        padding-top: 25%;
    }

    @include sm {
        height: 100%;
    }
}

.title-box {
    font-size: 18px;
    color: $grey-800;
    h1 {
        margin: 0;
    }
    &-buttons {
        margin-top: 26px;
    }

    @include sm {
        font-size: 16px;
        h1, .h1-like {
            font-size: 20px;
        }
        &-buttons {
            margin-top: 0;
        }

    }
    
}