.primary-button {
    background-color: $grey-800;
    color: white;
    text-transform: uppercase;
    padding: 8px 22px;

    @include sm {
        padding: 5px 10px;
        font-size: 14px;
    }
}

.secondary-button {
    background-color: $grey-100;
    font-size: 18px;
    border: none;
    padding: 8px 26px 11px 26px;
    color: $grey-800;
}