.primary-button {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 27px 45px 27px 45px;
    background-color: $primary-blue;
    border-radius: 36px;
    border: none;
    cursor: pointer;
    width: 307px;
}