.button {
    border: none !important; 
    outline: none !important;
    background-color: #27AE61;
    color: $white;

    &--primary {
        padding: 15px 30px;
        border-radius: 30px;
    }
    &--secondary {
        border-radius: 35px;
        width: 210px;
        padding: 20px 0;
    }
}