section.educations {
    margin: 65px 150px 60px 150px;
    @include md{
        margin: 30px;
    }
    
    .education-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 130px;
        @include md {
            display: block;
        }

        .img-wrapper {
            max-width: 570px;
            max-height: 100%;
            overflow: hidden;
            @include md {
                max-width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .card-education {
            padding-top: 70px;
            max-width: 450px;
            @include xl {
                padding-top: 30px;
            }
            @include lg {
                padding-top: 0;
            }
            @include md {
                display: grid;
                grid-template-columns: 60% 40%;
                max-width: 100%;
            }
            h3 {
                font-size: 36px;
                padding-bottom: 20px;
                @include lg {
                    padding-bottom: 10px;
                }
            }
            .description {
                font-size: 18px;
                letter-spacing: 0;
                @include xl {
                    font-size: 12px;
                }

            }
            ul {
                padding: 0;
                li.h3 {
                    margin-top: 45px;
                    font-size: 30px;  
                    font-weight: 700;

                    @include xl {
                        margin-top: 10px;
                        font-size: 20px;
                    }
                    @include lg {
                        margin-top: 5px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

section.features {
    background-color: #F1F1F1;
    padding-bottom: 80px;
    h2 {
        text-align: center;
        padding-top: 65px;
    }
    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 60px;
        margin-top: 45px;
        @include lg {
            grid-template-columns: 1fr 1fr;
        }

        .card-features {
            text-align: center;
            .icon-wrapper {
                background-color: #ffff;
                width: 170px;
                height: 170px;
                border-radius: 50%;
                margin: auto;
            }
            h3 {
                margin-top: 12px;
            }
            .description {
                font-size: 18px;
                padding: 0 30px;
            }
        }
    }
}

section.courses {
    h2 {
        text-align: center;
        padding-top: 65px;
        margin-bottom: 40px;
    }
    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;


        @include lg {
            column-gap: 10px;
        }
        @include md {
            grid-template-columns: 1fr;
        }
        
        .card-course {
            background-color: #F1F1F1;
            .img-wrapper {
                max-width: 100%;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .text {
                padding: 30px;
                h3 {
                    margin-bottom: 25px;
                    font-size: 30px;
                }
                .description::after,
                .time::after,
                .teacher::after {
                    display: block;
                    content: '';
                    height: 3px;
                    background-color: #CFCFCF;
                    @include md {
                     margin: 5px;       
                    }
                }
                .description {
                    position: relative;
                    &::after {
                        width: 120%;
                        margin: 22px auto 38px -30px;
                        @include md {
                            margin: 5px auto 5px -15px;      
                           }
                        @include md {
                            width: 100%;
                            margin: 5px auto 5px auto;      
                           }
                    }

                }
                .time {
                    text-align: center;
                    &::after {
                        width: 80%;
                        margin: 12px auto 15px auto;
                        @include md {
                            margin: 5px auto 5px auto;    
                           }
                    }
                }
                .teacher {
                    text-align: center;
                    &::after {
                        width: 90%;
                        margin: 12px auto 60px auto;
                        @include md {
                            margin: 5px;       
                           }
                        
                    }
                }
                

                .button {
                    padding: 15px 110px;
                    border-radius: 30px;
                }

                @include lg {
                    h3 {
                        font-size: 25px;
                    }
                    .description {
                        font-size: 16px;
                    }
                    .teacher.h3,
                    .time.h3  {
                        font-size: 18px;
                    }
                    .button {
                        padding: 10px 50px;
                    }
                }

                @include md {
                    .button {
                        padding: 5px 5px;
                    }
                }
            }
        }
    }
    .bottom-link {
        text-align: center;
        margin-top: 60px;
        a{
            color: #1A1A1A;
            opacity: 0.5;
        }
    }
}

section.our-teachers {
    background-color: #F1F1F1;
    padding-top: 67px;
    h2 {
        text-align: center;
    }
    .teachers-wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 60px;
        @include md {
            grid-template-columns: 1fr 1fr;

        }
        @include md {
            grid-template-columns: 1fr;
        }

        .teacher-info {
            display: flex;
            .img-wrapper {
                width: 96px;
                height: 96px;
                border-radius: 50%;
                overflow: hidden;
                background-color: grey;
                margin-right: 35px;
            }
            div {
                align-self: center;
                .job {
                    color: $green-200;
                }
                .name {
                    font-size: 30px;
                }

                @include lg {
                    .job {
                        font-size: 16px;
                    }
                    .name {
                        font-size: 20px;
                    }
                
                }
            }

        }
    }
    
}

section.programs {
    margin-top: 80px;
    h2 {
        text-align: center;
        padding-top: 80xp;
    }
    .cards-wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;

        @include lg {
            grid-template-columns: 1fr 1fr;
        }
        @include md {
            margin: 0 5px;
        }
        @include sm {
            grid-template-columns: 1fr;
        }
        .card-wrapper {
            height: 370px;
            text-align: center;
            color: #ffff;
            position: relative;
            padding-top: 120px;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $green-200;
                opacity: 0.8;
                transition: opacity 0.3s linear;
            }
            .content {
                position: relative;
                z-index: 1;
            }
            h3 {
                margin-bottom: 15px;
            }
            .description {
                padding: 0 70px;
                font-size: 18px;
            }

            &.first {
                // background-color: #27AE60;
                background-image: url('../img/program-1.jpg');
            }
            &.second{
                background-image: url('../img/program-2.jpg');
            }
            &.third{
                background-image: url('../img/program-3.jpg');
            }
            &.fourth{
                background-image: url('../img/program-4.jpg');
            }
            &.fifth{
                background-image: url('../img/program-5.jpg');
                .description {
                    padding: 0 60px;
                }
            }
            &.sixth{
                background-image: url('../img/program-6.jpg');
            }
            background-size: cover;
            background-repeat: no-repeat;

            &:hover::before {
                opacity: 0.6;
            }
        }
    }
}

section.testimonials {
    padding: 75px 0;
    h2 {
        text-align: center;
        // padding-top: 75px;
    }
    margin-top: 100px;
    background-color: #F1F1F1;
    .testimonials-wrapper {
        width: 760px;
        margin: auto;
        position: relative;
        @include lg {
            width: 660px;
        }
        @include md {
            width: 560px;
        }
        @include sm {
            width: 450px;
        }

    }
    .arrows {
        .arrow {
            position: absolute;
            &.left {
                left: -180px;
                top: 35%;
                @include xl{
                    left: -50px;
                }
                @include lg{
                    left: 0;
                }
                
            }
            &.right {
                right: -180px;
                top: 35%;
                @include xl{
                    right: -50px;
                }
                @include lg{
                    right: 0;
                }
               
            }
        }
    }
    .images-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 45px;

        @include md {
            justify-content: space-around;
        }

        .img-wrapper {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #393939;
                opacity: 0.7;
            }
            &.active::before {
                opacity: 0;
            }
        }
    }
    .testimonial-wrapper {
        text-align: center;
        padding: 65px 100px 0 100px;
        font-size: 18px;
        .name {
            margin-top: 60px;
            font-size: 30px;
        }
        p.job {
            opacity: 0.8;
        }
    }
}
section.blog {
    overflow: hidden;
    min-height: 840px;
    h2 {
        text-align: center;
        padding-top: 80px;
    }
    .blog-wrapper-container {
        position: relative;
        min-height: 520px;
        margin-top: 40px;
    }
    .blog-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 30px;
        // margin-left: -170px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
       

        .blog-card {
            text-align: center;
            h4 {
                margin-top: 30px;
            }
            .img-wrapper {

                width: 100%;
                height: 100%;
            }
            .card-text {
                margin-top: 25px;
                font-size: 18px;
            }

            &:first-child,
            &:last-child {
                opacity: 0.6;
            }
            @include xl {
                &:nth-child(5) {
                    opacity: 0.6;
                }
            }
            @include lg {
                &:first-child,
                &:last-child,
                &:nth-child(5) {
                    opacity: 1;
                }
                
            }


        }

        @include lg {
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0 10px;
            column-gap: 5px;
            position: relative;
        }
        @include md {
            grid-template-columns: 1fr 1fr;
            margin: 0 10px;
            column-gap: 5px;
            h4.blog-title {
                font-size: 20px;

            }
            .card-text {
                font-size: 14px;
            }
        }
        @include sm {
            grid-template-columns: 1fr;
            margin: 0 20px;
        }
    }
    .btn-wrapper {
        margin-top: 60px;
    }
}
section.subscribe {
    min-height: 200px;
    background-image: url('../img/subscribe-bg.jpg');
    background-size: cover;
    margin-top: 80px;
    background-repeat: no-repeat;
    .subscribe-wrapper {
        min-height: 200px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        color: #ffff;
        .h3 {
            font-size: 36px;
            letter-spacing: 0;
        }

        input {
            background-color: transparent;
            border-bottom: 2px solid #95989A;
            width: 350px;
            color: #ffff;
            margin-left: 100px;
        }
        .button {
            padding: 20px 60px;
            margin-top: 10px;
        }
    }
    @include md {
        .subscribe-wrapper {
            justify-content: start;
            align-items: flex-end;
            padding-top: 20px;
            .h3 {
                font-size: 24px;
            }
            input {
                margin: 0;
            }
        }
    }
}