body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}

.site {
    max-width: 1440px;
    margin: auto;
}


h1, h2, h3,.h3, h4, .h4, h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

h2, .h2 {
    font-size: 48px;
}

h3, .h3 {
    font-size: 24px;
}