/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mulish:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
}

h2, h3, h4 {
  font-weight: 700;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 13px;
  font-weight: 600;
}

.section-wrapper {
  margin: 0 165px;
}

@media (max-width: 1200px) {
  .section-wrapper {
    margin: 0 50px;
  }
}

@media (max-width: 768px) {
  .section-wrapper {
    margin: 0 20px;
  }
}

@media (max-width: 600px) {
  .section-wrapper {
    margin: 0 5px;
  }
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #F5FAFE;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  list-style: none;
}

input,
textarea {
  border: none;
  outline: none;
}

.top-navi {
  height: 60px;
  font-size: 10px;
}

.top-navi-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-navi-list :first-child {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.top-navi-list .gift {
  margin-right: 98px;
}

.top-navi-list .gift-text {
  margin-left: 20px;
}

.top-navi-list .loyal-text {
  margin-left: 20px;
}

.middle-navi {
  height: 120px;
  background-color: white;
}

@media (max-width: 768px) {
  .middle-navi {
    margin: 0 20px;
  }
}

.middle-navi-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .middle-navi-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .middle-navi-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.middle-navi .site-logo-wrapper {
  margin-right: 105px;
}

@media (max-width: 768px) {
  .middle-navi .site-logo-wrapper {
    margin-right: 20px;
  }
}

.middle-navi .site-logo-wrapper .site-logo {
  font-family: 'Luckiest Guy', cursive;
  font-size: 24px;
}

.middle-navi .site-logo-wrapper .site-logo span {
  color: #EC1F46;
}

.middle-navi .basket-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  margin-right: 70px;
}

.middle-navi .basket-wrapper .dot-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin-left: 30%;
}

.middle-navi .basket-wrapper .dot-wrapper .dot {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}

.middle-navi .basket-wrapper .counter {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #EC1F46;
  font-size: 10px;
  color: white;
}

.middle-navi .profile-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-navi .profile-wrapper .img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.middle-navi .profile-wrapper .img-container img {
  width: 100%;
  height: 100%;
}

.middle-navi .profile-wrapper .menu .name {
  margin-right: 24px;
}

.main-navi {
  background-color: #0A223D;
}

.main-navi .main-navi-menu {
  position: relative;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-navi .main-navi-menu li a {
  color: #ffff;
  text-transform: uppercase;
}

.main-navi .nav-toggle {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 500;
}

.main-navi .nav-toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  z-index: 500;
  display: none;
  padding: 10px 5px;
  background-color: grey;
  text-transform: uppercase;
  border-radius: 3px;
}

@media (max-width: 600px) {
  .main-navi .nav-toggle-button {
    display: block;
  }
  .main-navi .nav-toggle-button .close {
    display: none;
  }
  .main-navi .main-navigation {
    position: absolute;
    -webkit-transform: translate(-105%, -100%);
            transform: translate(-105%, -100%);
    -webkit-transition: -webkit-transform 0.5s linear;
    transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
    background-color: black;
    display: block;
    height: auto;
    width: 100%;
    opacity: 0.8;
  }
  .main-navi .main-navigation li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-navi .main-navigation li a {
    padding: 10px;
  }
  .main-navi .navi-button {
    display: none;
  }
  .main-navi .nav-toggle:checked + .main-navigation {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  .main-navi .nav-toggle:checked + .main-navigation .nav-toggle-button .close {
    display: block;
  }
  .main-navi .nav-toggle:checked + .main-navigation .nav-toggle-button .open {
    display: none;
  }
  .main-navi .nav-toggle:checked ~ .nav-toggle-button .open {
    display: none;
  }
  .main-navi .nav-toggle:checked ~ .nav-toggle-button .close {
    display: block;
  }
}

.address-page-section .address {
  font-size: 10px;
  margin: 18px 0;
}

.address-page-section .address span {
  margin: 0 5px;
}

.current-hotel-section .hotel-description .hotel-info {
  padding-top: 25px;
}

.current-hotel-section .hotel-description .hotel-info .title-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.current-hotel-section .hotel-description .hotel-info .title-wrapper .hotel-title {
  margin: 5px 25px 3px 0;
  font-size: 24px;
  color: #333333;
}

.current-hotel-section .hotel-description .hotel-info .title-wrapper .offer-btn {
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 10px;
}

.current-hotel-section .hotel-description .hotel-info .hotel-under-title {
  font-size: 12px;
}

.current-hotel-section .hotel-description .img-and-booking {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-columns: 730px 1fr;
      grid-template-columns: 730px 1fr;
}

@media (max-width: 992px) {
  .current-hotel-section .hotel-description .img-and-booking {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 20px;
    margin: 0 20px;
  }
}

@media (max-width: 600px) {
  .current-hotel-section .hotel-description .img-and-booking {
    margin: 0;
  }
}

.current-hotel-section .hotel-description .img-wrapper {
  width: 730px;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 992px) {
  .current-hotel-section .hotel-description .img-wrapper {
    width: 100%;
  }
}

.current-hotel-section .hotel-description .img-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #007ADF;
  z-index: 1;
  opacity: 0.2;
}

.current-hotel-section .hotel-description .img-wrapper img {
  width: 100%;
  height: 100%;
}

.current-hotel-section .hotel-description .booking-and-map {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 30px;
}

@media (max-width: 992px) {
  .current-hotel-section .hotel-description .booking-and-map {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -ms-grid-rows: none;
        grid-template-rows: none;
  }
}

@media (max-width: 600px) {
  .current-hotel-section .hotel-description .booking-and-map {
    display: block;
    margin: 20px;
  }
}

@media (max-width: 600px) {
  .current-hotel-section .hotel-description .booking-and-map .google-map {
    margin-top: 20px;
  }
}

.current-hotel-section .hotel-description .booking-and-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.current-hotel-section .package-area-header-navi {
  padding: 68px 0;
}

.current-hotel-section .package-area-header-navi-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}

@media (max-width: 600px) {
  .current-hotel-section .package-area-header-navi-menu {
    font-size: 12px;
  }
}

.current-hotel-section .package-area-header-navi-menu li {
  padding-right: 10px;
}

.current-hotel-section .package-area-header-navi-menu li.active {
  position: relative;
}

.current-hotel-section .package-area-header-navi-menu li.active a {
  color: #EC1F46;
}

.current-hotel-section .package-area-header-navi-menu li.active::before {
  content: '';
  width: 100%;
  border: 2px solid #EC1F46;
  position: absolute;
  top: 200%;
  left: 0;
}

.current-hotel-section .package-area-header h3 {
  text-transform: uppercase;
}

.current-hotel-section .package-area .packages-wrapper {
  padding-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  row-gap: 30px;
}

.other-packs {
  margin-top: 65px;
}

.other-packs h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 45px 0 65px 0;
}

.other-packs-cards-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

@media (max-width: 768px) {
  .other-packs-cards-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.fourth-section {
  margin-top: 70px;
}

.fourth-section h2 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 70px;
}

.fourth-section .slider-wrapper {
  font-size: 12px;
  text-align: center;
  position: relative;
}

.fourth-section .slider-wrapper .slider-content {
  margin: 0 355px;
}

@media (max-width: 992px) {
  .fourth-section .slider-wrapper .slider-content {
    margin: 0 30px;
  }
}

.fourth-section .slider-wrapper .img-wrapper {
  margin-bottom: 10px;
}

.fourth-section .slider-wrapper p.name {
  color: #EC1F46;
  font-weight: 700;
  margin-bottom: 10px;
}

.fourth-section .slider-wrapper .stars-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourth-section .slider-wrapper p.message {
  padding: 30px 90px 0 90px;
  text-align: justify;
  line-height: 19px;
}

.fourth-section .slider-wrapper .left-arrow,
.fourth-section .slider-wrapper .right-arrow {
  position: absolute;
}

.fourth-section .slider-wrapper .left-arrow {
  left: 193px;
  top: 50%;
}

.fourth-section .slider-wrapper .right-arrow {
  right: 193px;
  top: 50%;
}

@media (max-width: 768px) {
  .fourth-section .slider-wrapper .left-arrow,
  .fourth-section .slider-wrapper .right-arrow {
    top: 30%;
  }
}

.fourth-section .subscribe-news .article-wrapper {
  margin-top: 100px;
  background-image: url("../assets/img/bg-news.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 260px;
  position: relative;
}

.fourth-section .subscribe-news .article-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0A223D;
  opacity: 0.8;
}

.fourth-section .subscribe-news .subscribe-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .fourth-section .subscribe-news .subscribe-wrapper {
    margin: 0 30px;
  }
}

.fourth-section .subscribe-news .subscribe-wrapper .text-text {
  margin-right: 170px;
  color: #ffff;
}

.fourth-section .subscribe-news .subscribe-wrapper .text-text .first-row {
  font-size: 24px;
  font-weight: 300;
  opacity: 0.8;
}

.fourth-section .subscribe-news .subscribe-wrapper .text-text .second-row {
  font-size: 36px;
  text-transform: uppercase;
}

.fourth-section .subscribe-news .subscribe-wrapper .search-wrapper {
  margin: 0;
}

.fourth-section .subscribe-news .subscribe-wrapper .search-wrapper input {
  width: 285px;
  line-height: 55px;
  outline: none;
  border: none;
  border-radius: 4px 0 0 4px;
}

.fourth-section .subscribe-news .subscribe-wrapper .search-wrapper .search-btn {
  width: 65px;
  height: 55px;
  border-radius: 0 4px 4px 0;
}

.fourth-section .other-activities {
  padding-bottom: 100px;
}

.fourth-section .other-activities h3 {
  text-transform: uppercase;
  padding: 60px 0;
}

.fourth-section .other-activities .activities-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 992px) {
  .fourth-section .other-activities .activities-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
}

.fourth-section .other-activities .activities-wrapper .card-wrapper {
  height: 250px;
  width: 250px;
  border-radius: 6px;
  color: #ffff;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

.fourth-section .other-activities .activities-wrapper .card-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4c4c4), to(#0a223d));
  background: linear-gradient(180deg, #c4c4c4 0%, #0a223d 100%);
  opacity: 0.4;
}

.fourth-section .other-activities .activities-wrapper .card-wrapper h4 {
  margin: 140px auto 20px 25px;
  position: relative;
  z-index: 1;
}

.fourth-section .other-activities .activities-wrapper .card-wrapper .button {
  padding: 7px 20px;
  margin-left: 25px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

.fourth-section .other-activities .activities-wrapper .card-wrapper.first {
  background-image: url("../assets/img/active-1.png");
}

.fourth-section .other-activities .activities-wrapper .card-wrapper.second {
  background-image: url("../assets/img/active-2.png");
}

.fourth-section .other-activities .activities-wrapper .card-wrapper.third {
  background-image: url("../assets/img/active-3.png");
}

.fourth-section .other-activities .activities-wrapper .card-wrapper.fourth {
  background-image: url("../assets/img/active-4.png");
}

.button {
  background-color: #EC1F46;
  color: #ffff;
  border: none;
  cursor: pointer;
}

.button--big {
  padding: 15px 85px;
}

.button--primary {
  padding: 10px 28px;
  border-radius: 4px;
}

.card {
  background-color: #0A223D;
  color: #ffff;
  border-radius: 8px;
  font-size: 10px;
  position: relative;
}

.card .flash-offer {
  position: absolute;
  background-color: #EC1F46;
  color: #ffff;
  border-radius: 0px 4px 4px 0px;
  top: 25px;
}

.card--no-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 30px;
}

.card--no-image .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card--no-image .card-text p {
  line-height: 1.2em;
}

.card--no-image .card-text p.price {
  font-size: 24px;
  font-weight: 800;
}

.card--no-image .card-text p.quick {
  font-size: 18px;
  margin-top: 10px;
}

.card--no-image .card-text span {
  margin-left: 10px;
}

.card--no-image .card-text .second-column i {
  font-size: 14px;
}

.card--no-image .card-text .second-column p {
  margin-bottom: 10px;
}

.card--no-image .card-text .second-column p.phone {
  margin-top: 25px;
}

.card--no-image .card-text .second-column p.phone span.phone-num {
  font-size: 18px;
}

.card--no-image .button-wrapper {
  text-align: center;
  padding-top: 20px;
}

.card--no-image .button-wrapper .button {
  border-radius: 4px;
}

.card--no-image .google-map iframe {
  border-radius: 4px;
}

.card--with-img .flash-offer {
  left: 0;
  padding: 5px 10px;
}

.card--with-img .img-wrapper {
  height: 250px;
  overflow: hidden;
}

.card--with-img .img-wrapper img {
  width: 100%;
  height: 100%;
}

.card--with-img .info-wrapper {
  height: 250px;
  padding: 30px;
  font-size: 12px;
}

@media (max-width: 600px) {
  .card--with-img .info-wrapper {
    font-size: 10px;
    padding: 5px;
    height: 220px;
  }
}

.card--big {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.card--big .flash-offer {
  padding: 8px 12px;
}

.card--big .info-wrapper {
  padding: 47px 20px 30px 44px;
  font-size: 12px;
}

.card--big .info-wrapper h4 {
  margin-bottom: 30px;
  margin-top: 8px;
}

.card--big .info-wrapper .card-main {
  margin: 0;
}

.card--big .info-wrapper .card-main p.description {
  font-size: 14px;
  line-height: 22px;
}

.card--big .info-wrapper .card-main ul {
  padding-left: 5px;
  margin: 35px 0;
}

.card--big .btn-wrapper {
  margin-top: 20px;
}

.card--big .img-wrapper {
  border-radius: 8px 0px 0px 8px;
  height: 100%;
}

.card--big .img-wrapper img {
  width: 100%;
  height: 100%;
}

.card .card-main {
  margin: 20px 10px;
  opacity: 0.8;
}

.card .card-main li {
  margin-bottom: 15px;
}

.card .card-main li .icon {
  position: relative;
  margin-right: 15px;
}

.card .card-main li .icon.position svg {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card .card-main li .icon.person span {
  position: absolute;
}

.card .card-main li .icon.person span.first {
  top: -5px;
  left: -3px;
}

.card .card-main li .icon.person span.second {
  top: 2px;
  left: -6px;
}

.card .card-main li .icon.house svg {
  position: absolute;
  top: -1px;
  left: -6px;
}

.card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 37px;
}

.card .card-footer .price-old {
  margin-bottom: 7px;
  position: relative;
  font-size: 14px;
  opacity: 0.8;
}

.card .card-footer .price-old::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 60%;
  border-bottom: 1px solid #ffff;
}

.card .card-footer .price-new {
  font-size: 24px;
  font-weight: 700;
}

.card .card-footer .btn-wrapper {
  margin-top: 10px;
}

.white-card-header {
  color: #ffff;
  height: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: #0A223D;
  padding: 16px 25px;
  border-radius: 4px 4px 0px 0px;
}

.white-card-header h4 {
  font-size: 14px;
}

.white-card--small-main {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .white-card--small-main {
    padding: 10px;
  }
}

.white-card--small-main ul {
  max-width: 50%;
}

.white-card--large {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.white-card--large-main {
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  row-gap: 70px;
}

@media (max-width: 600px) {
  .white-card--large-main {
    padding: 10px;
  }
}

.white-card--large-main h5 {
  margin-bottom: 20px;
  color: #EC1F46;
}

.white-card-li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  margin-bottom: 23px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 12px;
}

.white-card-li span.bottom-text {
  display: block;
  margin-top: 40px;
}

.white-card-li p.text.custom span {
  display: block;
  margin-bottom: 5px;
}

.white-card-icon {
  background-color: #333333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 30px;
}

@media (max-width: 600px) {
  .white-card-icon {
    margin-right: 10px;
  }
}

.white-card-icon.basket {
  background-color: transparent;
}

.stars-wrapper .stars-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.stars-wrapper .stars-list li {
  margin-right: 5px;
}

.search-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-right: 220px;
}

@media (max-width: 768px) {
  .search-wrapper {
    margin-right: 20px;
  }
}

.search-wrapper input {
  width: 285px;
  line-height: 40px;
  border: none;
}

@media (max-width: 600px) {
  .search-wrapper input {
    width: 185px;
  }
}

.search-wrapper .search-btn {
  width: 65px;
  height: 40px;
  background-color: #EC1F46;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  outline: none;
}

.site-footer-wrapper {
  background-color: #0A223D;
  color: #ffff;
  font-size: 12px;
  position: relative;
}

.site-footer-wrapper a,
.site-footer-wrapper .link {
  color: #ffff;
  font-size: 12px;
  opacity: 0.8;
  line-height: 28px;
}

.site-footer-wrapper .footer {
  padding-top: 110px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  row-gap: 100px;
}

.site-footer-wrapper .footer .footer-menu li a {
  line-height: 23px;
  opacity: 0.8;
}

.site-footer-wrapper .footer h4 {
  padding-bottom: 25px;
}

@media (max-width: 768px) {
  .site-footer-wrapper .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 130px;
  }
}

.site-footer-wrapper .footer .first-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-footer-wrapper .footer .first-part .site-logo {
  max-width: 160px;
  font-size: 64px;
  font-weight: 400;
  font-family: 'Luckiest Guy', cursive;
  line-height: 1.0em;
  margin-right: 120px;
  padding-top: 20px;
}

.site-footer-wrapper .footer .first-part .site-logo span {
  color: #EC1F46;
}

.site-footer-wrapper .footer .second-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-footer-wrapper .footer .second-part .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.site-footer-wrapper .footer .second-part .social p {
  font-size: 18px;
  font-weight: 700;
  margin-right: 40px;
}

.site-footer-wrapper .footer .second-part .social .icon-wrapper a {
  margin-right: 10px;
}

.site-footer-wrapper .footer .third-part ul {
  margin-top: 20px;
}

.site-footer-wrapper .footer .third-part ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.site-footer-wrapper .footer .third-part ul li span {
  margin-right: 20px;
}

.site-footer-wrapper .footer .fourth-part .input-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 15px;
}

.site-footer-wrapper .footer .fourth-part .input-wrapper input {
  line-height: 50px;
  border-radius: 4px;
  padding-left: 20px;
}

.site-footer-wrapper .footer .fourth-part .input-wrapper textarea {
  padding: 20px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  height: 120px;
  border-radius: 4px;
}

.site-footer-wrapper .footer .fourth-part .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-footer-wrapper .footer .fourth-part .button-wrapper .button {
  padding: 18px 65px;
  border-radius: 4px;
}

.site-footer-wrapper .bootom-footer {
  margin-top: 100px;
  padding-bottom: 45px;
}

.site-footer-wrapper .bootom-footer li {
  margin-right: 10px;
}

.site-footer-wrapper .money-icons-wrapper {
  position: absolute;
  right: 165px;
  bottom: 45px;
}

@media (max-width: 768px) {
  .site-footer-wrapper .money-icons-wrapper {
    left: 40%;
    bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */