/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mulish:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
}

.section-wrapper {
  margin: 0 165px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #F5FAFE;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  list-style: none;
}

.top-navi {
  height: 60px;
  font-size: 10px;
}

.top-navi-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-navi-list :first-child {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.top-navi-list .gift {
  margin-right: 98px;
}

.top-navi-list .gift-text {
  margin-left: 20px;
}

.top-navi-list .loyal-text {
  margin-left: 20px;
}

.middle-navi {
  height: 120px;
  background-color: white;
}

.middle-navi-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-navi .site-logo-wrapper {
  margin-right: 105px;
}

.middle-navi .site-logo-wrapper .site-logo {
  font-family: 'Luckiest Guy', cursive;
  font-size: 24px;
}

.middle-navi .site-logo-wrapper .site-logo span {
  color: #EC1F46;
}

.middle-navi .search-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-right: 220px;
}

.middle-navi .search-wrapper input {
  width: 285px;
  line-height: 40px;
  border: none;
}

.middle-navi .search-wrapper .search-btn {
  width: 65px;
  height: 40px;
  background-color: #EC1F46;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  outline: none;
}

.middle-navi .basket-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  margin-right: 70px;
}

.middle-navi .basket-wrapper .dot-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin-left: 30%;
}

.middle-navi .basket-wrapper .dot-wrapper .dot {
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
}

.middle-navi .basket-wrapper .counter {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #EC1F46;
  font-size: 10px;
  color: white;
}

.middle-navi .profile-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-navi .profile-wrapper .img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.middle-navi .profile-wrapper .img-container img {
  width: 100%;
  height: 100%;
}

.middle-navi .profile-wrapper .menu .name {
  margin-right: 24px;
}

.main-navi {
  background-color: #0A223D;
}

.main-navi .main-navi-menu {
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-navi .main-navi-menu li a {
  color: #ffff;
  text-transform: uppercase;
}

.address-page-section .address {
  font-size: 10px;
  margin: 18px 0;
}

.address-page-section .address span {
  margin: 0 5px;
}

.current-hotel-section .hotel-info {
  padding-top: 25px;
}

.current-hotel-section .hotel-info .stars-wrapper .stars-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.current-hotel-section .hotel-info .stars-wrapper .stars-list li {
  margin-right: 5px;
}

.current-hotel-section .hotel-info .title-wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.current-hotel-section .hotel-info .title-wrapper .hotel-title {
  margin-top: 5px;
  font-size: 24px;
  color: #333333;
  margin-right: 25px;
}

.current-hotel-section .hotel-info .title-wrapper .offer-btn {
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 10px;
}

.current-hotel-section .hotel-info .hotel-under-title {
  font-size: 12px;
}

.current-hotel-section .article-wrapper {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 730px 1fr;
      grid-template-columns: 730px 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.current-hotel-section .article-wrapper .img-wrapper {
  width: 730px;
  height: 450px;
  border-radius: 8px;
  overflow: hidden;
}

.current-hotel-section .article-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
}

.current-hotel-section .article-wrapper .booking-and-map {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 210px 210px;
      grid-template-rows: 210px 210px;
  row-gap: 30px;
}

.button {
  background-color: #EC1F46;
  color: #ffff;
  border: none;
}

.button--big {
  padding: 15px 85px;
}

.card {
  background-color: #0A223D;
  color: #ffff;
  border-radius: 8px;
  font-size: 10px;
}

.card--no-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 30px;
}

.card--no-image .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card--no-image .card-text p {
  line-height: 1.2em;
}

.card--no-image .card-text p.price {
  font-size: 24px;
  font-weight: 800;
}

.card--no-image .card-text p.quick {
  font-size: 18px;
  margin-top: 10px;
}

.card--no-image .card-text span {
  margin-left: 10px;
}

.card--no-image .card-text .second-column i {
  font-size: 14px;
}

.card--no-image .card-text .second-column p {
  margin-bottom: 10px;
}

.card--no-image .card-text .second-column p.phone {
  margin-top: 25px;
}

.card--no-image .card-text .second-column p.phone span.phone-num {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */