.section-wrapper {
    margin: 0 165px;
    
    
    @include xl {
        margin: 0 50px;
    }
    @include lg {
        // margin: 0 150px;
    }
    @include md {
        margin: 0 20px;
    }
    
    @include sm {
        margin: 0 5px;
    }
    

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}