.button {
    background-color: $red-500;
    color: $white-100;
    border: none;
    cursor: pointer;

    &--big {
        padding: 15px 85px;
    }

    &--primary {
        padding: 10px 28px;
        border-radius: 4px;
    }
}