.top-navi {
    height: 60px;
    font-size: 10px;
    &-list {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        justify-content: space-between;

        :first-child {
            flex-grow: 2;
        }

        .gift {
            margin-right: 98px;

            &-text {
                margin-left: 20px;
            }
        }

        .loyal {

            &-text {
                margin-left: 20px;
            }
        }
    }
    @include md {
        display: none;
    }
}

.middle-navi {
    height: 120px;
    background-color: white;
    @include md {
        margin: 0 20px;
    }

    &-list {
        display: flex;
        @include md {
            
            justify-content: space-around;
        }
        @include lg {
            flex-wrap: wrap;
        }
    }
    .site-logo-wrapper {
        margin-right: 105px;
        @include md {
            margin-right: 20px;
        }
        .site-logo {
            font-family: 'Luckiest Guy', cursive;
            font-size: 24px;

            span {
                color: $red-500;
            }
        }
    }

    .basket-wrapper {
        justify-content: start;
        position: relative;
        margin-right: 70px;;
        .dot-wrapper {
            display: flex;
            justify-content: space-between;
            width: 60%;
            margin-left: 30%;

            .dot {
                width: 4px;
                height: 4px;
                background-color: black;
                border-radius: 50%;
            }
        }

        .counter {
            position: absolute;
            top: 0;
            left: 50%;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $red-500;
            font-size: 10px;
            color: white;
        }


    }

    .profile-wrapper {
        justify-content: space-between;
        
        .img-container {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 20px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .menu {
            .name {
                margin-right: 24px;
            }
        }
    }

}

.main-navi {
    
    background-color: $blue-800;
    .main-navi-menu {
        flex-wrap: wrap;
        position: relative;
        height: 80px;
        justify-content: space-between;
        
        li a{
            color: $white-100;
            text-transform: uppercase;
        }
    }
    .nav-toggle {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        z-index: 500;
    }
    
    .nav-toggle-button {
        position: absolute;
        top: 10px;
        right: 10px;
        color: white;
        z-index: 500;
        display: none;
        padding: 10px 5px;
        background-color: grey;
        text-transform: uppercase;
        border-radius: 3px;
    }

    @include md {
        .nav-toggle-button {
            display: block;
            .close {
                display: none;
            }
        }
        .main-navigation {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-105%);

            transition: transform 0.5s linear;
            background-color: black;
            // display: none;
            display: block;
            height: auto;
            width: 100%;
            opacity: 0.8;
            li {
                justify-content: flex-start;
            }

            li a{
                padding: 10px;
               
            }
             
        }
        .navi-button {
            display: none;
        }
        .nav-toggle:checked+.main-navigation{
            transform: translateY(0);
            
            
            .nav-toggle-button{
    
                .close {
                    display: block
                }
                .open {
                    display: none;
                }
            }
        }
        .nav-toggle:checked~.nav-toggle-button {
            .open {
                display: none;
            }
            .close {
                display: block;
            }
        }
        
    }
}