.site-footer-wrapper {
    // min-height: 900px;
    background-color: $blue-800;
    // color: $white-100;
    color: black;
    font-size: 12px;
    position: relative;
    a,
    .link {
        color: $white-100;
        font-size: 12px;
        opacity: 0.8;
        line-height: 28px;
    }
    .footer {
        .footer-menu {
            li a{
                    line-height: 23px;
                    opacity: 0.8;
            }
        }
        h4 {
            padding-bottom: 25px;
        }
        padding-top: 110px;
        display: grid;
        grid-template-columns: 50% 50%;
        @include md {
            grid-template-columns: 1fr;
            margin: 0 130px;
        }
        @include sm {
            grid-template-columns: 1fr;
            margin: 0 10px;
        }
        row-gap: 100px;
        .first-part {
            display: flex;
           flex-wrap: wrap;
            .site-logo {
                max-width: 160px;
                font-size: 64px;
                font-weight: 400;
                font-family: 'Luckiest Guy', cursive;
                line-height: 1.0em;
                margin-right: 120px;
                padding-top: 20px;
                span {
                    color: $red-500;
                }
            }
            
        }
        .second-part {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .social {
                display: flex;
                padding-top: 25px;
                justify-content: start;
                p {
                    font-size: 18px;
                    font-weight: 700;
                    margin-right: 40px;
                }
                .icon-wrapper {

                    a {
                        margin-right: 10px;

                    }
                }
            }
        }
        .third-part {
            ul {
                margin-top: 20px;
                li {
                    display: flex;
                    margin-bottom: 20px;
                    span {
                        margin-right: 20px;
                    };
                }
            }
        }
        .fourth-part {
            .input-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                @include sm {
                    grid-template-columns: 1fr;
                }
                
                column-gap: 30px;
                row-gap: 15px;
                input {
                    line-height: 50px;
                    border-radius: 4px;
                    padding-left: 20px;
                    
                }
                textarea {
                    padding: 20px;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    height: 120px;
                    border-radius: 4px;
                    @include sm {
                        grid-column-start: 1;
                        grid-column-end: 2;
                    }
                }
            }
            .button-wrapper {
                display: flex;
                justify-content: space-between;
                padding-top: 20px;
                align-items: center;

                .button {
                    padding: 18px 65px;
                    border-radius: 4px;
                }
            }
        }

    }
    .bootom-footer {
        margin-top: 100px;
        padding-bottom: 45px;
        li {
            margin-right: 10px;
        }
    }
    .money-icons-wrapper {
        position: absolute;
        right: 165px;
        bottom: 45px;
        @include md {
            left: 40%;
            bottom: 20px;
        }
    }
}