.address-page-section {
    .address {
        font-size: 10px;
        margin: 18px 0;
        span {
            margin: 0 5px;
        }
    }
}

.current-hotel-section {

    .hotel-description {
        .hotel-info {
            padding-top: 25px;
          
            .title-wrapper {
                justify-content: start;
                .hotel-title {
                    margin: 5px 25px 3px 0;
                    font-size: 24px;
                    color: $grey-500;
                }
                .offer-btn {
                    padding: 4px 8px;
                    border-radius: 3px;
                    font-size: 10px;
                }
    
            }
            .hotel-under-title {
                font-size: 12px;
            }
        }
    
        .img-and-booking {
            padding-top: 20px;
            display: grid;
            grid-template-columns: 730px 1fr;
            column-gap: 30px;
        }
        .img-wrapper {
                width: 730px;
                height: 450px;
                border-radius: 8px;
                overflow: hidden;
                position: relative;
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #007ADF;
                    z-index: 1;
                    opacity: 0.2;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
        }
        
        .booking-and-map {
                display: grid;
                grid-template-rows: 210px 210px;
                row-gap: 30px;
                
        }
    }
    
    .package-area {
        &-header {
            &-navi {
                padding: 68px 0;
                &-menu {
                    justify-content: space-between;
                    font-weight: 700;
                    li.active {
                        position: relative;
                        a{
                           color: $red-500;
                        }
                        &::before {
                            content: '';
                            width: 100%;
                            border: 2px solid $red-500;
                            position: absolute;
                            top: 200%;
                            left: 0;
                        }
                    }
                }
            }
            h3 {
                text-transform: uppercase;
            }
        }
        .packages-wrapper {
            padding-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            grid-template-rows: min-content 1fr;
            row-gap: 30px;
        }
    }
}

.other-packs {
    margin-top: 65px;
    
    h2 {
        text-align: center;
        text-transform: uppercase;
        padding: 45px 0 65px 0;
    }

    &-cards-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }
}

.fourth-section {
    margin-top: 70px;

    h2 {
        text-align: center;
        text-transform: uppercase;
        padding-top: 40px;
        margin-bottom: 70px;
    }
    .slider-wrapper {
        font-size: 12px;
        text-align: center;
        position: relative;
        .slider-content {
            margin: 0 355px;
        }

        .img-wrapper {
            margin-bottom: 10px;
        }
        p.name {
            color: $red-500;
            font-weight: 700;
            
            margin-bottom: 10px;
        }
        .stars-list {
            justify-content: center;
        }
        p.message {
            padding: 30px 90px 0 90px;
            text-align: justify;
            line-height: 19px;
        }
        .left-arrow,
        .right-arrow {
            position: absolute;
        }
        .left-arrow {
            left: 193px;
            top: 50%;
        }
        .right-arrow {
            right: 193px;
            top: 50%;
        }
    }

    .subscribe-news {
        .article-wrapper {
            margin-top: 100px;
            background-image: url('../assets/img/bg-news.png');
            background-size: cover;
            background-position: center; 
            background-repeat: no-repeat;
            height: 260px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #0A223D;
                opacity: 0.8;
            }
        }
        .subscribe-wrapper {
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            padding-top: 10px;

            .text-text {
                margin-right: 170px;
                color: $white-100;
                .first-row {
                    font-size: 24px;
                    font-weight: 300;
                    opacity: 0.8;
                }
                .second-row {
                    font-size: 36px;
                    text-transform: uppercase;
                }
            }
            .search-wrapper {
                margin: 0;
                input {
                    width: 285px;
                    line-height: 55px;
                    outline: none;
                    border: none;
                    border-radius: 4px 0 0 4px;
                }
                .search-btn {
                    width: 65px;
                    height: 55px;
                    border-radius: 0 4px 4px 0;
                    // margin-left: -5px;
                }
            }

        }
    }
    .other-activities {
        padding-bottom: 100px;
        h3 {
            // text-align: center;
            text-transform: uppercase;
            padding: 60px 0;
        }
        .activities-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 30px;

            .card-wrapper {
                height: 250px;
                width: 250px;
                border-radius: 6px;
                color: $white-100;
                font-weight: 700;
                position: relative;
                overflow: hidden;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(196,196,196,1) 0%, rgba(10,34,61,1) 100%);
                    opacity: 0.4;
                }
                h4 {
                    margin: 140px auto 20px 25px;
                    position: relative;
                    z-index: 1;

                }
                .button {
                    padding: 7px 20px;
                    margin-left: 25px;
                    border-radius: 4px;
                    position: relative;
                    z-index: 1;
                }
                &.first {
                    background-image: url('../assets/img/active-1.png');
                }
                &.second {
                    background-image: url('../assets/img/active-2.png');
                }
                &.third {
                    background-image: url('../assets/img/active-3.png');
                }
                &.fourth {
                    background-image: url('../assets/img/active-4.png');
                }
            }
        }
    }

    

}
