.card {
    background-color: $blue-800;
    color: $white-100;
    border-radius: 8px;
    font-size: 10px;
    position: relative;

    .flash-offer {
        position: absolute;
        background-color: $red-500;
        color: $white-100;
        border-radius: 0px 4px 4px 0px;
        top: 25px;
    }
    &--no-image {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding: 30px;
        .card-text {
            display: flex;
            justify-content: space-between;
            p {
                line-height: 1.2em;
            }
            p.price {
                font-size: 24px;
                font-weight: 800;
            }
            p.quick {
                font-size: 18px;
                margin-top: 10px;
            }
            span {
                margin-left: 10px;
            }
            .second-column {
                i {
                    font-size: 14px;
                }
                p {
                    margin-bottom: 10px;
                }
                p.phone{
                    margin-top: 25px;
                    span.phone-num {
                        font-size: 18px;
                    }
                }
            }
        }
        .button-wrapper {
            text-align: center;
            padding-top: 20px;
            .button {
                border-radius: 4px;
            }
        }
        .google-map {
            iframe {
                border-radius: 4px;
            }
        }
    }
    &--with-img {

        .flash-offer {
            left: 0;
            padding: 5px 10px;
        }
        .img-wrapper {
            // width: 350px;
            height: 250px;
            overflow: hidden;
            
            img {
                width: 100%;
                height: 100%;
            }
        }
        .info-wrapper {
            height: 250px;
            padding: 30px;
            font-size: 12px;
        }
    }
    &--big {
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        grid-template-columns: 50% 50%;
        .flash-offer {
            padding: 8px 12px;
        }

        .info-wrapper {
            padding: 47px 20px 30px 44px;
            font-size: 12px;
            h4 {
                margin-bottom: 30px;
                margin-top: 8px;
            }
            .card-main {
                margin: 0;

                p.description {
                    font-size: 14px;
                    line-height: 22px;
                }

                ul {
                    padding-left: 5px;
                    margin: 35px 0;
                }
            }
        }
        .btn-wrapper {
            margin-top: 20px;
        }
        .img-wrapper {
            border-radius: 8px 0px 0px 8px;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }

    }
    .card-main {
        margin: 20px 10px;
        opacity: 0.8;
        li {
            margin-bottom: 15px;
            .icon {
                position: relative;
                margin-right: 15px;
                &.position {
                    svg {
                        position: absolute;
                        top: 45%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                &.person {
                    span {
                        position: absolute;
                        &.first {
                            top: -5px;
                            left: -3px;
                        }
                        &.second {
                            top: 2px;
                            left: -6px;
                            // transform: translateX(-50%s);
                        }
                    }
                }
                &.house {
                    svg {
                        position: absolute;
                        top: -1px;
                        left: -6px;
                    }
                }
            }
        }
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 37px;

        .price {
            &-old {
                margin-bottom: 7px;
                position: relative;
                font-size: 14px;
                opacity: 0.8;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 60%;
                    border-bottom: 1px solid $white-100;
                }

            }
            &-new {
                font-size: 24px;
                font-weight: 700;
            }
        }
        .btn-wrapper {
            margin-top: 10px;
        }
    }
}

.white-card {
    &-header {
        color: $white-100;
        height: 50px;
        justify-content: start;
        background-color: $blue-800;
        padding: 16px 25px;
        border-radius: 4px 4px 0px 0px;
        h4 {
            font-size: 14px;
        }
    }
    &--small{
        &-main {
            padding: 30px;
            display: flex;
            justify-content: space-between;
            ul {
                max-width: 50%;
            }
        }
    }

    &--large {
        grid-column-start: 1;
        grid-column-end: 3;
        &-main{
            padding: 30px;
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: min-content min-content;
            row-gap: 70px;
            // justify-content: space-between;

            h5 {
                margin-bottom: 20px;
                color: $red-500;
            }
        }
    }

    &-li {
        display: grid;
        grid-template-columns: min-content 1fr;
        margin-bottom: 23px;
        justify-content: start;
        font-size: 12px;

        span.bottom-text{
            display: block;
            margin-top: 40px;
        }
        p.text.custom {
            span {
                display: block;
                margin-bottom: 5px;
            }
        }
    }
    &-icon {
         background-color: $grey-500;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 30px;
        &.basket {
            background-color: transparent;
        }
    }
}

